html, body, main {
  margin: 0;
  height: 100%;
}

body {
  padding: 20px;

  background-color: #BFDFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

header #title {
  width: 600px;
  margin: 0 auto;

  font-size: 60px;
  font-family: "Fredoka One", cursive;
  text-align: center;

  border: solid black;
  border-width: 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

main {
  display: flex;
  flex-direction: column;
}

#clock {
  flex: 1;

  height: 100%;
  width: 100%;
}

#controls {
  flex: 1;

  display: flex;
  flex-direction: column;

}

#controls #jumps{
  flex: 1;

  display: flex;
  flex-direction: row;
}

#controls #toggles{
  flex: 4;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#controls #speeds{
  flex: 1;

  display: flex;
  flex-direction: row;
}

#jumps #date{
  flex: 3;

  font-size: 30;
  text-align: center;
}

#jumps #now{
  flex: 1;

  font-size: 30;
}

#toggles div{
  display: flex;
  flex-direction: column;
}

#speeds button{
  flex: 1;

  font-size: 30;
}
