html, body {
  margin: 0;
  height: 100%;
}

body {
  padding: 20px;

  background-color: #BFDFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

#site-title {
  width: 600px;
  margin: 0 auto;

  font-size: 60px;
  font-family: "Fredoka One", cursive;
  text-align: center;

  border: solid black;
  border-width: 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

main {
  display: flex;
  flex-direction: row;

  padding: 50px 20px;
}

#clock {
  flex: 2;

  height: 100%;
  width: 100%;
}

#controls {
  flex: 1;

  display: flex;
  flex-direction: column;

}

#controls #speed-buttons{
  flex: 2;

  display: flex;
  flex-direction: column;
}

#controls #speed-buttons div{
  flex: 1;

  display: flex;
  flex-direction: row;
}

#controls #speed-buttons div button{
  flex: 1;
}

#controls #jump{
  flex: 1;

  display: flex;
  flex-direction: column;
}

#controls #jump #jump-date{
  flex: 1;

  text-align: center;
}

#controls #jump #jump-now{
  flex: 1;
}

#controls #checkboxes{
  flex: 4;

  display: flex;
  flex-direction: row;

  font-size: 10;
}

#controls #checkboxes div{
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#controls #checkboxes div label{
  font-size: 14;
  font-weight: bold;
}

#controls #checkboxes div input{
  display: flex;
  flex-direction: column;
}
