html {
  background-color: #205080;
}

body {
  background-color: #BFDFFF;
  border: 5px solid black;
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

#site-title {
  border: 5px solid black;
  font-family: "Fredoka One", cursive;
  font-size: 60px;
  margin: 0;
  text-align: center;
}

#planets {
  display: block;
  margin: 5px auto;
  border: 1px solid black;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

img {
  display: block;
  margin: 0 auto;
  width: 100px;
}
