.idea/
__pycache__/

html/data/lite/*
!html/data/lite/config.json
html/data/full/*
!html/data/full/config.json
html/data/high_frequency/*
!html/data/high_frequency/config.json
html/data/stars/*
!html/data/stars/config.json
